
.fio{
    margin-right: 30px;
}

table{
    margin-top: 20px;
    border: 1px solid black;
}
th,tr,td{
    border: 1px solid black;
    width: 200px;
    height: 30px;
    text-align: center;
}
.baner{
    display: block;
    width: 100%;
    height: 100px;
    position: fixed;
    bottom: 0;
    background-color: cornflowerblue;
    left: 0;
    font-size: 48px;
    color: brown;
    text-align: center;
    
}
